*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-areas: 
  "one"
  "two"
  "three"
  'four'
  ;
}
.one{
  grid-area: one;
  width: 100%;
  height: auto;
  padding: 2rem 2rem 6.8rem;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-row-gap: 4.5rem;
}
.nav{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.anchor{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav .svg{
  width: max-content;
}
.nav a{
  text-transform: capitalize;
  font-size: 1.2rem;
  text-decoration: none;
}
.two{
  grid-area: two;
}
.three{
  grid-area: three;
}
.four{
  grid-area: four;
}
.content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-areas: "ss vb";
  grid-column-gap: 1rem;
}
.text{
  grid-area: ss;
}
.svg2{
  grid-area: vb;
}
.text{
  height: max-content;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-row-gap: 2rem;
  align-self: center;
}
.p{
  font-weight: 700;
  font-size: 2.5rem;
}
.pp{
  font-size: 400;
  font-size: 1.5rem;
}
.div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 1rem;
}
.div input{
  width: 100%;
  height: auto;
  padding: 0.6rem 1rem;
  align-self: center;
  font-size: 1.5rem;
}
.div input::placeholder{
  color: rgb(168, 168, 168);
  font-size: 1.2rem;
}
.div .ao{
  width: max-content;
  height: auto;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: hsl(224, 93%, 58%);
  border-radius: 0.2rem;
  padding: 0.8rem 4rem;
  align-self: center;
}
/* .svg2 svg{
  transform: scale(0.5);
} */
.svg2{
  width: 100%;
  height: 100%;
}
.svg2 .img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.two{
  width: 100%;
  height: auto;
  padding: 7.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 0.2rem;
  position: relative;
  background-color: #f9f8fe;
}
.cur{
  width: 100%;
  position: absolute;
  top: -12%;
  left: 0;
  z-index: -1;
}
.svg3 , .svg3 .img2{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tex{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-row-gap: 1.5rem;
  align-content: center;
}
.hg{
  font-weight: 700;
  font-family: Raleway;
  font-size: 2.5rem;
}
.jh{
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 1.5rem;
  width: 80%;
}
.d{
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 0 0 0.4rem;
  border-bottom: 2px solid #60a392;
}
.jkl{
  font-size: 400;
  font-family: "Open Sans";
  font-size: 1.5rem;
  color: #60a392;
}
.arrow{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #60a392;
  display: grid;
  place-items: center;
  margin-left: 0.5rem;
}
.curv{
  width: 100%;
  height: 100%;
  background-color: #ffff;
  clip-path: polygon(14% 45%, 57% 44%, 57% 28%, 85% 49%, 58% 68%, 57% 53%, 14% 54%);
}
.e{
  width: 50%;
  height: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 10px 24px hsla(0,0%,0%,0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
  grid-row-gap: 1rem;
}
.para{
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
}
.img_text{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text_first{
  margin-left: 1rem;
}
.person{
  width: 2.2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.kop{
  font-family: Raleway;
  font-weight: 700;
  font-size: 1rem;
}
.cop{
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.8rem;
}
.three{
  width: 100%;
  height: auto;
  padding: 5rem 2rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 4rem;
  background-color: #575989;
}
.text2{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-row-gap: 1.5rem;
}
.gh{
  font-weight: 700;
  font-family: Raleway;
  font-size: 2.5rem;
  color: #ffffff;
}
.hgf{
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 1rem;
  color: #ffffff;
}
.input2{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-row-gap: 1rem;
}
.click{
  width: max-content;
  height: auto;
  background-color: #3066fc;
  border: none;
  border-radius: 0.2rem;
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 1rem;
  color: #ffffff;
  padding: 0.5rem 2rem;
  box-shadow: 0 10px 24px hsla(0,0%,0%,0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
}
.email{
  width: 100%;
  height: auto;
  border-radius: 0.2rem;
  border: none;
  padding: 1rem;
  outline: none;
}
.four{
  width: 100%;
  height: auto;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: #07043b;
}
.s{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-row-gap: 1rem;
}
.cv{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sd{
  margin-left: 1rem;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 1rem;
}
.de{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-row-gap: 1rem;
}
.de .a1{
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 1.2rem;
}
.g{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
i{
  color: #ffff;
  transform: scale(2.5);
}
.ao{
  transition: background-color 0.5s ease-in-out;
}
.ao:hover{
  background-color: #6b9bff;
  cursor: pointer;
}
.click{
  transition: background-color 0.5s ease-in-out;
}
.click:hover{
  cursor: pointer;
  background-color: #6b9bff;
}
.d:hover{
  cursor: pointer;
}
i{
  transition: color 0.5s ease-in-out;
}
i:hover{
  color: #6f98fa;
}
.a1{
  transition: color 0.5s ease-in-out;
}
.a1:hover{
  color: #6f98fa;
}
@media screen and (max-width:1200px) and (min-width:600px){
  .content{
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: 
    "vb"
    "ss"
    ;
  }
  .cur{
    top:-2%;
  }
  .svg3{
    grid-area: op;
  }
  .tex{
    grid-area: po;
  }
  .two{
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: 
    "op"
    "po"
    ;
  }
  .three{
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 2rem;
  }
  .four{
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 5rem;
  }
}
@media screen and (max-width:600px) and (min-width:400px){
  .content{
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: 
    "vb"
    "ss"
    ;
  }
  .cur{
    top:-1%;
  }
  .svg3{
    grid-area: op;
  }
  .tex{
    grid-area: po;
  }
  .two{
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: 
    "op"
    "po"
    ;
  }
  .three{
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 2rem;
  }
  .four{
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 5rem;
  }
  .e{
    width: 80%;
  }
  .jh{
    width: 100%;
  }
  .div{
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 2rem;
  }
}
@media screen and (max-width:400px){
  .content{
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: 
    "vb"
    "ss"
    ;
  }
  .cur{
    top:-1%;
  }
  .svg3{
    grid-area: op;
  }
  .tex{
    grid-area: po;
  }
  .two{
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: 
    "op"
    "po"
    ;
  }
  .three{
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 2rem;
  }
  .four{
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 5rem;
  }
  .e{
    width: 100%;
  }
  .jh{
    width: 100%;
  }
  .div{
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 2rem;
  }
  .one,.two,.three,.four{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .div .ao{
    width: 100%;
  }
  .anchor a{
    font-size: 1rem;
  }
  .svg svg{
    transform: scale(0.8);
  }
  .click{
    width: 100%;
  }
  .four{
    grid-template-columns: repeat(1,1fr);
  }
}